h1 {
  font-size: 30px;
  color: black;
}

h2 {
  font-size: 13.2px;
  color: black;
}

h3 {
  font-size: 13.2px;
  color: black;
}

p {
  color: #a1a1a1;
  line-height: 20px;
}

body {
  overflow-x: hidden;
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
  font-weight: 500, 600, 700;
}

section:first-of-type {
  display: flex;
}
section:first-of-type article:first-of-type {
  width: 70%;
  height: 600px;
  position: relative;
  top: -5px;
  left: -5px;
}
section:first-of-type article:first-of-type .first-image {
  display: block;
  width: 100%;
  position: relative;
  left: -5px;
  top: -5px;
  animation: showImage 0.5s ease-in-out 0s 1 normal forwards;
}
section:first-of-type article:first-of-type .second-image, section:first-of-type article:first-of-type .third-image {
  width: 100%;
  position: relative;
  left: -5px;
  top: -5px;
  display: none;
  animation: showImage 0.5s ease-in-out 0s 1 normal forwards;
}
@keyframes showImage {
  from {
    margin-left: -800px;
  }
  to {
    margin-left: 0px;
  }
}
section:first-of-type article:first-of-type .inside-img {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 50px;
  margin-left: 50px;
}
section:first-of-type article:first-of-type .inside-img .logo {
  width: 80px;
  height: 20px;
}
section:first-of-type article:first-of-type .inside-img .nav {
  width: 100%;
  position: relative;
  top: -10px;
}
section:first-of-type article:first-of-type .inside-img .nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
}
section:first-of-type article:first-of-type .inside-img .nav li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
section:first-of-type article:first-of-type .inside-img .nav li a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 4px solid white;
  padding-bottom: 15px;
}
section:first-of-type article:first-of-type .inside-img .inside-burger, section:first-of-type article:first-of-type .inside-img .inside-burger2, section:first-of-type article:first-of-type .inside-img .burger, section:first-of-type article:first-of-type .inside-img .close {
  display: none;
  visibility: hidden;
  position: absolute;
}
section:first-of-type article:first-of-type .arrow-change {
  float: right;
  position: relative;
  left: 142px;
  top: -89px;
}
section:first-of-type article:first-of-type .arrow-change img {
  display: inline-block;
  cursor: pointer;
  background-color: black;
  padding: 30px;
  margin-left: -4px;
  transition: all 0.3s ease-in-out;
}
section:first-of-type article:first-of-type .arrow-change img:hover {
  background-color: #a1a1a1;
}
section:first-of-type article:not(:first-of-type) {
  width: 600px;
  margin-left: 70px;
  margin-top: 80px;
  animation: showArticle 0.5s ease-in-out 0s 1 normal forwards;
}
@media (max-width: 1400px) {
  section:first-of-type article:not(:first-of-type) {
    margin-top: 10px;
  }
}
@media (max-width: 1250px) {
  section:first-of-type article:not(:first-of-type) {
    margin-left: 30px;
  }
  section:first-of-type article:not(:first-of-type) h1 {
    font-size: 24px;
  }
}
section:first-of-type article:not(:first-of-type) p {
  position: relative;
  top: -15px;
}
section:first-of-type article:not(:first-of-type) h2 {
  display: inline-block;
  letter-spacing: 10px;
  color: #4d4d4d;
  transition: all 0.3s ease-in-out;
}
section:first-of-type article:not(:first-of-type) img {
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}
section:first-of-type article:not(:first-of-type) .arrow-button {
  margin-top: 20px;
  cursor: pointer;
}
section:first-of-type article:not(:first-of-type) .arrow-button:hover h2, section:first-of-type article:not(:first-of-type) .arrow-button:hover img {
  color: #a1a1a1;
  filter: invert(0.5);
}
@keyframes showArticle {
  from {
    margin-top: -500px;
  }
  to {
    margin-top: 80px;
  }
}
section:first-of-type .globe, section:first-of-type .materials {
  display: none;
}

section:last-of-type {
  display: flex;
  justify-content: center;
  margin-top: -43px;
}
@media (max-width: 1300px) {
  section:last-of-type img {
    width: 350px;
  }
}
section:last-of-type article:nth-of-type(2) {
  padding: 40px;
}
section:last-of-type article:nth-of-type(2) h3 {
  letter-spacing: 5px;
}

@media (max-width: 1100px) {
  section:first-of-type {
    display: block;
  }
  section:first-of-type article:first-of-type {
    width: 100%;
  }
  section:first-of-type article:first-of-type .first-image {
    width: 105%;
    height: 550px;
    content: url("../images/mobile-image-hero-1.jpg");
  }
  section:first-of-type article:first-of-type .second-image {
    width: 105%;
    height: 550px;
    content: url("../images/mobile-image-hero-2.jpg");
  }
  section:first-of-type article:first-of-type .third-image {
    width: 105%;
    height: 550px;
    content: url("../images/mobile-image-hero-3.jpg");
  }
  section:first-of-type article:first-of-type .inside-img {
    /*	position: absolute;
    	display: flex; */
    justify-content: space-around;
    column-gap: 400px;
    flex-direction: row-reverse;
    z-index: 2;
    margin-top: 30px;
    margin-left: -35%;
    width: 100%;
  }
  section:first-of-type article:first-of-type .inside-img .logo {
    width: 70px;
    height: 20px;
    /*position: relative;
    left:150%;  */
  }
  section:first-of-type article:first-of-type .inside-img .nav {
    display: none;
  }
  section:first-of-type article:first-of-type .inside-img .burger {
    display: block;
    visibility: visible;
    height: 15px;
    width: 25px;
    margin-top: 5px;
    cursor: pointer;
    z-index: 222222;
  }
  section:first-of-type article:first-of-type .inside-img .close {
    display: none;
    visibility: visible;
    cursor: pointer;
    height: 20px;
    width: 30px;
    opacity: 1;
    margin-top: 5px;
  }
  section:first-of-type article:first-of-type .inside-img .close:hover {
    opacity: 1;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger {
    display: none;
    visibility: visible;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 40%;
    margin: 50px auto;
    width: 80%;
    height: 220px;
    padding: 20px;
    background-color: #efefef;
    border-radius: 20px;
    box-shadow: 0px 0px 40px #a1a1a1;
    animation: showdiv 1s ease-in-out 0s 1 normal forwards;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger li {
    list-style-type: none;
    margin-top: 40px;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger li a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger li a:hover {
    border-bottom: 4px solid #a1a1a1;
    padding-bottom: 15px;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger2 {
    display: none;
    visibility: visible;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 40%;
    margin: 50px auto;
    width: 80%;
    height: 220px;
    padding: 20px;
    background-color: #efefef;
    border-radius: 20px;
    box-shadow: 0px 0px 40px #a1a1a1;
    animation: closediv 0.4s ease-in-out 0s 1 normal forwards;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger2 li {
    list-style-type: none;
    margin-top: 40px;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger2 li a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  section:first-of-type article:first-of-type .inside-img .inside-burger2 li a:hover {
    border-bottom: 4px solid #a1a1a1;
    padding-bottom: 15px;
  }
  @keyframes showdiv {
    0% {
      margin-top: -300px;
    }
    25% {
      margin-top: 50px;
    }
    50% {
      margin-top: 20px;
    }
    75% {
      margin-top: 60px;
    }
    100% {
      margin-top: 50px;
    }
  }
  @keyframes closediv {
    from {
      margin-top: 50px;
    }
    to {
      margin-top: -600px;
    }
  }
  section:first-of-type article:first-of-type .arrow-change {
    float: right;
    position: relative;
    left: 10px;
    top: -89px;
  }
  section:first-of-type article:not(:first-of-type) {
    width: 90%;
    margin-left: 25px;
    margin-top: 0px;
  }
  @keyframes showArticle {
    from {
      margin-top: -500px;
    }
    to {
      margin-top: 0px;
    }
  }
  section:first-of-type article:not(:first-of-type) p {
    position: relative;
    top: -5px;
  }
  section:first-of-type article:not(:first-of-type) .arrow-button {
    margin-top: 20px;
    cursor: pointer;
  }
  section:first-of-type article:not(:first-of-type) img {
    margin-left: 30px;
  }

  section:last-of-type {
    display: block;
    margin-top: 70px;
  }
  section:last-of-type article {
    width: 100%;
    margin-top: 20px;
  }
  section:last-of-type article img {
    width: 100%;
  }
  section:last-of-type article:nth-of-type(2) {
    padding: 20px;
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
